<div class="conteiner__big-card">

    <div class="big-card__photo">
        <img
         src="https://st4.depositphotos.com/17828278/24401/v/450/depositphotos_244011872-stock-illustration-image-vector-symbol-missing-available.jpg" 
         alt="" 
         height="200px"
         srcset=""
         >
    </div>

    <div class="big-card__title">
        <h1>Saiu a nova versão do angular</h1>
    </div>

    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et amet reprehenderit consequatur necessitatibus facilis!
        </p>
    </div>

</div>